.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  border:2px solid silver;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  border-radius: 10px;
}

.avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}

.status.online {
  background-color: green;
}
