.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  border:2px solid silver;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  border-radius: 10px;
}


